<html>
  <head>
    <title>Delete Page</title>
  </head>
  <body>
    <h1>Are you sure you want to DELETE this record?</h1>
    <p>ID: {{ friend['id'] }}</p>
    <p>First Name: {{ friend['first_name'] }}</p>
    <p>Last Name: {{ friend['last_name'] }}</p>
    <p>Occupation: {{ friend['occupation'] }}</p>
    <p>Created: {{ friend['created_at'] }}</p>
    <p>Updated: {{ friend['updated_at'] }}</p>
    <form action='/' method='POST'>
    <input type="submit" value="Cancel">
  </form>
    <form action='/execdelete' method='POST'>
    <input type="submit" value="Delete">
  </form>
  </body>
</html>
